
.about {
    padding: 2rem;
    background-color: #f28081;
  }
  
  .about_desciption {
    line-height: 1.5rem;
  }
  
  .title {
    padding: 1.5rem 0 1rem 0;
    font-weight: 600;
    font-size: 3rem;
  }
  