.buttons{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

.filterComponent{
    padding: 0 1rem .5rem;
}

.button_super{
    background-color: white;
    cursor: pointer;
}

.options_list_category{
    text-transform: uppercase;
}

.select{
    width: 15rem;
}

.btn_img{
    padding: 0 .5rem;
    height: 38px;
    width: auto;
    border: 1px solid white;
}


.toggle{
    margin: 100px 0 10px 15px;
    display: none;
}

.options{
    padding: 0 .5rem;
    justify-content: space-between;
    justify-items: center;
    display: flex;
}

.btn{
    cursor: pointer;
    padding: 0 .4rem;
    height: 38px;
    border: none;
    background-color: white;
    font-weight: 600;
    border:1px solid #ddd ;
}

.btn_img:hover,
.btn:hover{
    box-shadow: 2px 2px 2px #48529944;
}

.grid_button{
    display: flex;
    align-items: center;
}

@media (max-width: 800px) {

    .toggle{
        display: block;
    }

    .options{
        display: none;
    }
    
    .active{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        justify-content: center;
    }
    
    .toggle{
        padding: .3rem .3rem .1rem;
        display: block;
        color: white;
        border-radius: .5rem;
        background-color: #45d282;
        border: 1px solid white;
        font-size: 18px;
        font-weight: 600;
    }
    
    .grid_button{
        margin: 0 8px;
    }
    
}
