.home{
    height: 100vh;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .home_container{
    width: 40%;
    text-align: center;
    border: 1px solid #ddd;
    padding: 1rem 2rem 0;
    background-color: #34195E;
  }
  
  .home_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  color: black;
  height: 14rem;
  padding: 1rem 2rem;
  }
  
  .home_form_input{
    border: 1px solid blueviolet;
    padding: .2rem;
    width: 25rem;
    height: 2rem;
    border-radius: .5rem;
    padding: .3rem;
    text-transform: uppercase;
  }
  .home_form_select{
    padding: .3rem;
    display: flex;
    color: white;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
  }
  .home_form_select_box{
    padding: 0 .5rem;
    border-radius: .5rem;
    width: 15rem ;
    height: 2rem;
    border: 1px solid #6E249D;
  }
  
  h2{
    font-size: 17px;
  }

  .home_form_button:hover{
    background-color: #45d282;
  }

  .home_form_button{
    cursor: pointer;
    color: white;
    font-weight: 600;
    background-color: #6E249D;
    border-radius: .5rem;
    padding: .5rem .5rem;
  }

  .homeIndex{
    border: 1px solid white;
    border-radius: 50%;
    width: 5rem;
  }

  h1{
    font-size: 22px;
  }

  .home_logo_area{
    gap: 1rem;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

@media (max-width: 800px) {
 .home_container{
  width: 90%;
 } 

 .home_form_input{
  width: 100%;
 }
 .home_form{
  width: 100%;
 }



}