@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    border: none;
    outline: none;
    font-size: 15px;
    box-sizing: border-box;
}
#root{
    padding: 0;
    margin: 0;
}

body{
    font-family: "roboto", sans-serif;
    background-color: #f9f9f9;
}

header{
    box-shadow: 0px 7px 5px #48529944;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    padding: 0 1rem;
    background-color: #39194D;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.catalogue{
    position: relative;
    margin: 60px 0;
}

.Catalogue_product{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}

.options{
    display: flex;
    justify-content: space-between;
}

.dropbox{
    width: 15rem;
    height: 38.38px;
    text-transform: capitalize;
    color: black;
}

.tiket_container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 1rem;
    margin: 5rem auto;
}

.btn{
    align-items: center;
    margin: 0 .3rem;
    height: 386x;
    border-radius: .5rem;
    background-color: white;
    border: none;
    outline: none;
}

.btn:hover{
    background-color: #39194D;
    font-weight: 600;
}

.btn_img{
    padding: .2rem;
    display: flex;
    align-items: center;
    height: 30px;
}

@media (max-width: 800px) {

    header{
        height: 75px;
        padding: .5rem;
    }

    .tiket_container,
    .catalogue{
        margin-top: 100px;
    }

    .btn{
        margin: 0 auto;
        background-color: transparent;
        width: auto;
    }
    
    .Catalogue_product{
        display: grid;
        gap: .3rem;
        grid-template-columns: repeat(auto-fit,minmax(165px, 1fr));
    }
}