.more_info{
  grid-area: moreInfo;
  display: flex;
  align-items: last baseline;
  gap: .2rem .4rem;
}

.form{
  grid-area: form_area;
}

.logo{
  font-size: 20px;
  font-weight: 600;
}

.form {
  background-color: white;
  padding: 0 0 0 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form {
  height: 38.78px;
  width: 100%;
  grid-area: form_area;
}

.input_nav {
  width: 20rem;
  padding: 0.5rem 0;
  border: none;
  outline: none;
}

.button_nav {
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  padding: 0.7rem 0.7rem 0.6rem;
  background-color: white;
  border: 2px solid white;
}
.button_nav:hover {
  border: 2px solid #45d282;
  background-color: #45d282;
  color: white;
  /* border-radius: 2rem; */
  cursor: pointer;
}

.menu{
  text-align: center;
  grid-area: menu_area;
  padding: .6rem .6rem .5rem;
  background-color: transparent;
  color: white;
  font-size: 19px;
}

.menu:hover{
  border-radius: 50%;
  background-color: #45d282;
}

/* CARRITO */
.disnable{
  display: none;
}

.cart_Shop{
  z-index: 3;
  padding: .4rem;
  width: 20rem;
  border: 1px solid black;
  background-color: white;
  top: 80px;
  right: 10px;
  position: absolute;
  color: black;
  max-height: 60vh;
  border-radius: .4rem;
}

.cartShop_item{
  border-radius: .4rem;
  margin: .1rem 0;
  border: 1px solid #ddd;
  padding: .5rem;
}

.item_buttons{
  align-items: center;
  height: 2rem;
  display: flex;
  justify-content: space-between;
}

.btn_delet{
  background-color: #DC001A;
  color: white;
  font-weight: 600;
  border-radius: .4rem;
  cursor: pointer;
  height: 1.5rem;
  padding: 0 .7rem;
}
.btn_agregar{
  padding: 0 .7rem;
  cursor: pointer;
  background-color: #39194D;
  color: white;
  height: 1.5rem;
  font-weight: 600;
  border-radius: .4rem;
}
.btn_delet:hover{
  background-color: #7F161D;
}

.btn_agregar:hover{
  background-color: #45d282;
/* background-color: #145530; */
}


.link_to_cart{
  text-transform: uppercase;
  color: black;
}

@media (max-width: 800px) {
  header {
    display: grid;
    grid-template-areas:
      "moreInfo menu_area"
      "form_area  form_area";
    grid-template-columns: 300px 50px;
    grid-template-rows: 30px 30px;
    gap: 0.8rem;
    height: 90px;
    padding: 0.5rem;
  }

  .menu{
    margin: auto;
    text-align: center;
    height: 2rem;
    width: 2rem;
    font-size: 9px;
    padding: 0;
  }
 
}