.card{
    padding: .5rem .4rem;
    width: 360px;
    border: 1px solid #ddd;
    margin: auto;
}

.card_product{
    padding: .5rem 0;
    display: flex;
}
.card_table{
    line-height: 20px;
}
img{
    padding: .5rem 0;
    width: 200px;
}

.item_name{
    width: 110px;
    font-weight: 600;
    text-align: start;
}

.product_name{
    font-size: 18px;
}